@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,900,900i&display=swap&subset=latin-ext');
$font: 'Raleway', sans-serif;

$lightGray:#cccccc;
$darkGray:#333333;
$green:#d4ffa1;
$darkGreen:#67b807;

$desk: "(min-width: 1024px)";
$deskView: 1024px;
$mobileView: 600px;